@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  overflow-x: hidden;
  background: #0c0d1d;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #0c0d1d;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}
.logo {
  font-size: 3rem;
  font-weight: bold;
  color: #03e9e9;
}
.logo .letter {
  display: inline-block;
}
.nav {
  display: flex;
  column-gap: 50px;
  font-size: 25px;
  font-style: italic;
}

.nav_list a {
  color: #f200b2;
  position: relative;
  z-index: 1;
  padding: 0 1rem;
  border-radius: 10px;
}

.nav_list a::before {
  background: #f200b2;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.5s;
  z-index: -1;
  border-radius: 10px;
}

.nav_list:hover a {
  color: white;
}

.nav_list a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
section {
  height: 100vh;
}

.home,
.about,
.skill,
.project,
.contact {
  height: 100%;
  position: relative;
}

.heading {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 28rem;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #f200b2;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  opacity: 0.4;
  animation: heading 1.5s linear;
  transition: all 0.5s ease;
  height: auto;
}
@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10%;
}
.home_left-title {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #03e9e9;
  -webkit-text-stroke: 2px #f200b2;
}
.home_left-text {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.home_btn {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  padding: 1.5rem 3rem;
  color: #f200b2;
  border: 3px solid #f200b2;
  box-shadow: inset 0 0 20px 0 #f200b2, 0 0 20px 0 #f200b2;
  text-shadow: 0 0 3px #fff, 0 0 20px #f200b2;
  transition: all 0.2s linear;
}
.home_btn::before {
  content: '';
  pointer-events: none;
  position: absolute;
  background: #f200b2;
  width: 100%;
  height: 100%;
  top: 120%;
  left: 0;
  transform: perspective(10px) rotateX(10deg) scale(1, 0.35);
  filter: blur(5.5rem);
  opacity: 0.7;
}
.home_btn:hover {
  background: #f200b2;
  color: white;
  text-shadow: none;
  transform: translateY(-3px);
}
.home_btn:active {
  transform: translateY(-1px);
}
.home_btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 7rem 1.5rem #f200b2;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.home_btn:hover::after {
  opacity: 1;
}

.home_right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.home_icon {
  display: flex;
  transform-style: preserve-3d;
  transform: rotate(-30deg) skew(25deg);
  margin-top: 20rem;
}
.home_icon li {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0 3rem;
}
.home_icon li::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}
.home_icon li::after {
  content: '';
  position: absolute;
  top: 0;
  left: -0.9rem;
  width: 0.9rem;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-41deg);
}
.home_icon li span {
  font-size: 4.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: 5px solid #f200b2;
}

.home_icon li:hover span {
  transition: 0.5s;
  color: white;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}
.home_icon li:hover span:nth-child(5) {
  transform: translate(4rem, -4rem);
  opacity: 1;
}
.home_icon li:hover span:nth-child(4) {
  transform: translate(3rem, -3rem);
  opacity: 0.8;
}
.home_icon li:hover span:nth-child(3) {
  transform: translate(2rem, -2rem);
  opacity: 0.6;
}
.home_icon li:hover span:nth-child(2) {
  transform: translate(1rem, -1rem);
  opacity: 0.4;
}
.home_icon li:hover span:nth-child(1) {
  transform: translate(0rem, -0rem);
  opacity: 0.2;
}

.home_icon li:nth-child(1):hover span {
  background: #e34c26;
}
.home_icon li:nth-child(2):hover span {
  background: #264de4;
}
.home_icon li:nth-child(3):hover span {
  background: #dabf11;
}
.home_icon li:nth-child(4):hover span {
  background: #cc6799;
}
.home_icon li:nth-child(5):hover span {
  background: #3c873a;
}
.home_icon li:nth-child(6):hover span {
  background: #61dbfb;
}

.home_icon li:nth-child(1) {
  animation: toright 2.5s linear forwards;
}
.home_icon li:nth-child(2) {
  animation: fly 2.5s linear forwards;
}
.home_icon li:nth-child(3) {
  animation: drop 2s linear forwards;
}
.home_icon li:nth-child(4) {
  animation: fly 3.5s linear forwards;
}
.home_icon li:nth-child(5) {
  animation: drop 2.5s linear forwards;
}
.home_icon li:nth-child(6) {
  animation: toleft 3s linear forwards;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fly {
  0% {
    opacity: 0;
    transform: translateY(30rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes toright {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toleft {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* ABOUT PAGE */
.about {
  font-family: 'Poopins', sans-serif;
}
.about .position {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.about_box {
  position: relative;
  margin: 20px 0;
  width: 280px;
  height: 400px;
  background: rgba(50, 42, 42, 0.2);
  transform: perspective(3000px);
  transform-style: preserve-3d;
  box-shadow: inset 300px 0 50px rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5);
  transition: 1s;
  left: 80px;
}
.about_box:hover {
  z-index: 1000;
  transform: perspective(3000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(255, 255, 255, 0.2),
    0 10px 100px rgba(255, 255, 255, 0.2);
}
.about_img {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #03e9e9;
  transform-origin: left;
  z-index: 1;
  transition: 1s cubic-bezier(0.15, 1.7, 0.84, 0.58);
  background: #111;
}
.about_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_box:hover .about_img {
  transform: rotateY(-135deg);
}

.about_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: -1;
  color: #03e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.about_text h2 {
  padding: 20px;
  font-size: 20px;
}
.about_text p {
  font-size: 16px;
}

/* About Right */
.about_right {
  font-size: 16px;
}
.braces {
  color: #fff000;
}
.parent-1,
.parent-2,
.children {
  font-family: 'Poppins', sans-serif;
  padding-left: 20px;
}

.parent-1,
.parent-2 {
  color: #f200b2;
  font-weight: bold;
}
.children {
  color: #03e9e9;
}
.pl40 {
  padding-left: 40px;
}
.pl20 {
  padding-left: 20px;
}
.colon {
  color: white;
  font-size: 12px;
}

/* SKILL PAGE */
.skill {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0 10%;
}
.skill_list {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 5rem;
}
.skill_item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  width: 90px;
  height: 90px;
  border: 3px solid #f200b2;
  transform: skewX(-10deg);
  transition: all 0.3s ease-in-out;
}
.skill_item:nth-child(1) {
  background: #e34c26;
}
.skill_item:nth-child(2) {
  background: #264de4;
}
.skill_item:nth-child(3) {
  background: #dabf11;
}
.skill_item:nth-child(4) {
  background: #cc6799;
}
.skill_item:nth-child(5) {
  background: #3c873a;
}
.skill_item:nth-child(6) {
  background: #61dbfb;
}

.skill_item:hover {
  transform: skewX(0) translateY(-5px);
  box-shadow: 0 0 7rem 1.5rem #f200b2;
}
.skill_item:hover i {
  font-size: 50px;
}
.skill_item i {
  font-size: 40px;
  color: white;
  transition: all 0.3s;
}

.skill_right {
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.skill_right-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
}
.skill_times {
  margin-right: 30px;
}
.skill_times p {
  font-weight: 800;
  font-size: 24px;
  color: #f200b2;
}
.dkill_right-item {
  flex: 1;
}
.skill_right-work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.skill_right-work h4 {
  font-weight: 500;
  color: cyan;
  font-size: 24px;
}
.skill_right-work p {
  font-weight: 400;
  color: cyan;
  font-size: 18px;
  margin-top: 5px;
  font-style: italic;
}

/* PROJECT */
.project_wrapper {
  height: 100%;
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  font-family: 'Poopins', sans-serif;
}
.project_card {
  width: 350px;
  height: 550px;
  padding: 30px 20px;
  box-shadow: 0 0 5px 5px rgba(242, 0, 178, 0.6);
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
}
.card_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.card_img img {
  width: auto;
  height: 80%;
}
.card_body {
  text-align: center;
}
.card_title {
  font-size: 23px;
  margin: 20px 0;
}
.card_details {
  margin: 30px 0;
  font-size: 16px;
}
.card_language {
  font-size: 30px;
}
.card_language span {
  margin-left: 10px;
}
.card_btn {
  display: inline-block;
  border: 3px solid #f200b2;
  padding: 10px 30px;
  box-shadow: inset 0 0 20px 0 #f200b2, 0 0 20px 0 #f200b2;
  color: #f200b2;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 20px 0;
}
.html5 {
  color: #e34c26;
}
.css3 {
  color: #264de4;
}
.js {
  color: #dabf11;
}
